db.type=LOCAL
db.localUsername=root
db.localPassword=Epicness1287!#
db.localConnectionString=jdbc:mysql://localhost:3306/comicDB
db.azureUsername=andyz@andyzinventory
db.azurePassword=Epicness1287!#
db.azureConnectionString=jdbc:sqlserver://andyzinventory.database.windows.net:1433
db.azureDatabase=comic-book-tracker-db
